@font-face {
  font-family: 'Letter Gothic';
  src: url('/fonts/letter_gothic-webfont.woff2') format('woff2'),
    url('/fonts/letter_gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// --------------------
// Definition of variables
$primary: #000000;

$success: rgba(234, 184, 96, 0.8);
$secondary: rgba(171, 191, 163, 0.7);

$orange10: rgba(234, 184, 96, 0.1);
$orange50: rgba(234, 184, 96, 0.5);
$orange80: rgba(234, 184, 96, 0.8);
$green70: rgba(171, 191, 163, 0.7);
$background: rgba(244, 237, 222, 1);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

$breakpoint-mobile: 670px;

.my__active {
  background-color: $orange50 !important;
  color: white !important;
  opacity: 1 !important;
}

textarea.form-control {
  font-size: 14px;
}
input.form-control {
  background: rgba(244, 237, 222, 0.3);
  box-shadow: 8px 8px rgba(217, 214, 208, 0.5);
}
textarea.form-control {
  background: rgba(244, 237, 222, 0.8);
  box-shadow: 8px 8px rgba(217, 214, 208, 0.8);
}
select.text-center.form-control {
  background: $orange50;
  box-shadow: 8px 8px rgba(217, 214, 208, 0.8);
}

h1 {
  font-size: 2rem;
  @media (max-width: $breakpoint-mobile) {
    font-size: 1.4rem;
  }
}

h2 {
  font-size: 1.5rem;
}

li {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Letter Gothic', sans-serif;
  overflow-x: hidden;
}

.App {
  display: flex;
}

.App__right {
  margin-top: 100px;
  width: 100%;
  position: relative;
  transition: margin-left 1s;
}

.App__right__header {
  width: 100%;
  height: 100px;
  background-color: white;
  opacity: 0.95;
  position: fixed;
  z-index: 1;
  top: 0;

  box-shadow: 1px 1px 10px 2px rgba(204, 204, 204, 0.3);
  transition: top 0.3s;
  padding: 15px 30px;
  @media (max-width: $breakpoint-mobile) {
    padding: 5px 30px;
  }
}

.App__right__circle {
  display: block;
  position: absolute;
  top: 20vh;
  left: 25%;
  z-index: -1;
  width: 600px;
  height: 600px;
  background-color: $orange10;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
}

.App__right__body {
  z-index: 5;
  background: rgba(255, 255, 255, 0);
}

.Sidebar {
  z-index: 2;
  position: fixed;
  box-shadow: 2px 3px 5px lightgrey;
  background-color: $background;
  width: 227px;
  //max-width: 16vw;
  //max-width: 20vw;
  height: 100vh;
  transition: 1s;
}
.Sidebar__groups {
  height: calc(100vh - 300px);
  box-shadow: 2px 3px 5px lightgrey;
  &:hover {
    overflow-y: scroll;
  }
}

.container-full-width {
  background-image: linear-gradient(
    to bottom right,
    $background,
    $background,
    $secondary
  );

  height: 100vh;
  border: 0.1px solid white;
}

.first__box {
  //border: 2px solid green;
  margin-top: 6%;
  // margin-bottom: 1%;
  margin-left: 16%;
  display: flex;
  flex-direction: row-reverse;
  width: 41%;
  height: 81%;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 10px 20px grey;
  @media (max-width: $breakpoint-mobile) {
    //border: 2px solid green;
    margin-top: 2%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 900px;
  }
}

.Green__card {
  // position: absolute;
  // right: 48px;
  // top: 44px;
  margin: 30px;
  //margin-top:
  background: $green70;
  width: 240px;
  height: 310px;
  z-index: 1;
  border-radius: 10px;
  @media (max-width: $breakpoint-mobile) {
    margin: auto;
    margin-top: 40px;
  }
}

.Landing__circle__other {
  //display: block;
  //position: relative;
  margin: auto;
  margin-top: 75px;
  //z-index: 1;
  width: 497px;
  height: 497px;
  background-image: linear-gradient(
    to bottom right,
    $success,
    $success,
    $secondary
  );
  opacity: 0.5;
  border-radius: 50%;
}

.Bar__Green {
  height: 5px;
  z-index: 1;

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: '';
    display: block;
    height: 5px;
    width: 120%;
    position: absolute;
    top: 13px;
    left: -10%;
    z-index: -1;
    background-color: $green70;
  }
}

.Button__Shelf {
  background: transparent;
  border: none;
  margin: 15px auto 0;
  display: block;
  font-size: 20px;
  outline: none;

  position: relative;
  transition: 0.3s;
  padding: 5px; // the trick

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: '';
    border-bottom: 3px solid $secondary;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    transition: 0.3s;
  }

  &:hover:before {
    width: 100%;
    padding: 0; // the other part of the trick
  }

  &:active {
    //background: $green70;
    color: grey;
    transition: none;
  }
}

.Button {
  background: transparent;
  border: none;
  margin: 15px auto 0;
  display: block;
  font-size: 16px;
  outline: none;

  position: relative;
  transition: 0.3s;
  padding: 5px; // the trick

  &:hover {
    text-decoration: none;
  }

  &:active {
    background: $green70;
    color: grey;
    transition: none;
  }
}

// * {
//   border: 1px solid yellow;
// }

.AuthMethod {
  min-width: 230px;

  a {
    position: relative;

    &:before {
      content: '';
      border-bottom: 3px solid $secondary;
      padding: 0 8px;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 1em;
      transition: 0.3s;
    }

    &.active,
    &:hover {
      text-decoration: none;

      &:before {
        width: 120%;
        padding: 0; // the other part of the trick
        transform: translateX(-10%);
      }
    }
  }
}

.scroll {
  overflow: scroll;
}

.hover:hover {
  // border: 3px solid $secondary;
  box-shadow: 3px 3px 3px $secondary;
}

.Landing__circle {
  position: absolute;
  top: -45px;
  left: 350px;
  //background-color: $secondary;
  background-image: linear-gradient(
    to bottom right,
    $success,
    $success,
    $secondary
  );
}

.Spin__Circle {
  border: 16px;
  border-top: 40px solid $background;
  border-radius: 40%;
  width: 390px;
  height: 390px;
  animation: spin 10s linear infinite;
  //z-index: 10;
  //box-shadow: 5px 10px 10px grey;
  opacity: 0.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.NotMobile {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.YesMobile {
  @media (max-width: $breakpoint-mobile) {
    position: absolute;
    left: 85px;
    top: 325px;
    z-index: 2;
  }
}

.YesMobile1 {
  @media (max-width: $breakpoint-mobile) {
    position: absolute;
    left: -25px;
    top: 6px;
    z-index: 1;
  }
}
.YesMobile2 {
  @media (max-width: $breakpoint-mobile) {
    //display: none;
    position: absolute;
    left: -25px;
    top: 700px;
  }
}

.scroll--aware {
  transition: all 0.5s ease-in-out;
}

.scroll--hidden {
  transform: translateY(-100%);
}

.card {
  border-radius: 15px !important;
}

img.toggle-sidebar {
  position: fixed;
  z-index: 10;
  &:hover {
    opacity: 1;
    box-shadow: 16px 3px 6px -10px grey;
  }
}

.Circle__button__profile {
  // position: relative;
  // right: 20%;
  &.active,
  &:hover {
    opacity: 0.6;
  }
}

.Active__sidebar {
  font-size: 16px;
  padding: 0px 20px;

  &.active,
  &:hover {
    color: white;
    background-color: $secondary;
    opacity: 0.7;
    font-weight: bold;
  }
}

.Active__sidebar.nav-link.active {
  font-size: 16px;
  padding: 0px 20px;

  &.active,
  &:hover {
    color: white;
    background-color: $secondary;
    opacity: 0.7;
    font-weight: bold;
  }
}
