// --------------------
// Definition of variables
$primary: #000000;

$orange10: rgba(234, 184, 96, 0.1);
$orange50: rgba(234, 184, 96, 0.5);
$orange80: rgba(234, 184, 96, 0.8);
$green70: rgba(171, 191, 163, 0.7);
$background: rgba(244, 237, 222, 1);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
 
}

.App__right {
  position: absolute;
  left: 23vw;
  width: 77vw;
}

.App__right__header {
  height: 100px;
  background-color: $orange50;

}

.App__right__circle {
  display: block;
  position: absolute;
  top: 20vh;
  left: 20%;
  z-index: -1;
  width: 600px;
  height: 600px;
  background-color: $orange10;
  border-radius: 50%;
}

.App__right__body {
  z-index: 5;
  background: rgba(255, 255, 255, 0);

}

.Sidebar {
  position: fixed;
  background-color: $background;
  width: 23vw;
  height: 100%;
}
